.settings-menu {
    display: flex;
    padding: 2rem 0;

    .container{
        display: flex;
        // justify-content: center;
        width: 100%;
        padding: 0 1.5rem;
        flex-direction: column;

        .account {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            
            .avatar{
                flex: 0.2;
                margin-right: 1.5rem;

                .ant-avatar {
                    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
                }
            }
            .user-info {
                flex: 0.6;

                p:first-child{
                    margin-bottom: 0.3em
                }
                p:last-child{
                    color: rgba(0,0,0,0.35)
                }
            }
            .upgrade {
                flex: 0.2;

                button {
                    width: inherit;
                }
            }
        } // end of account

        hr {
            color: rgba(0,0,0,0.2);
            width: 90%;
        }

        .summary {
            padding: 1.2rem;

            button {
                // margin: 1rem;
                color: white;
                border-color: #005fff;
                font-family: inherit;
    
                background-color: #005fff;
                box-shadow: 0 5px 20px rgba(0,0,0,0.1);
            }
    
            button:hover {
                color: white;
                background-color: #005fff;
                box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
            }
        }
    }
}