.SignIn {
    display: flex;
    //width: 50%;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin: 0 20%;
    margin-bottom: 8%;

    h1 {
        margin-bottom: 20px;
    }

    li {
        list-style-type: none;
        font-size: 1.8rem;
        text-align: center;
        color: red;
    }

    .social-btns {
        margin-top: 20px;
    }
}